body {
  font-family: Arial, sans-serif;
  background-color: #fbfff2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #24b129;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

section {
  margin-bottom: 20px;
}

h1, h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: #333;
}

p {
  font-size: 16px;
  color: #555;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #32cd32;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  
}

button:hover {
  background-color: #28a428;
}


